.min-h-screen {
    min-height: 100vh;
}

.bg-red {
    background: red;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

.font-bold {
    font-weight: bold;
}

.my-1 {
    margin-top: 13px;
    margin-bottom: 13px;
}

.my-2 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.px-2 {
    padding-left: 13px;
    padding-right: 13px;
}

.text-blue {
    color: rgb(185 36 156)
}

.text-center {
    text-align: center;
}

.btn {
    padding: 8px 12px;
    border: 2px solid rgb(32, 0, 28);
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background-color: rgb(185 36 156);
}

.gympng {
    padding-top: 14px;
    padding-bottom: 20px;
    height: 347px;
}

.dumbbellpng {
    margin-top: -69px;
    width: 203px;
    height: 97px;
}

.sliderimage {
    width: 100%;
    height: 80vh;
    margin-top: -4px;
}

.slidercontainer {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 15px;
}

.slidercontent {
    padding: 20px;
    background-color: #7c7c7c87;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slidercontainer h1 {
    color: rgb(37, 1, 34);
    font-family: Arial, Helvetica, sans-serif
}

.slidercontainer h3 {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif
}

.line {
    width: 150px;
    height: 3px;
    background: rgb(41, 0, 43);
    margin: 0 auto 60px auto;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #8b176e;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #b363a8;
}

/* Add a background color and some padding around the form */
.formcontainer {
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    width: 50%;
    border-radius: 5px;
    background-color: #000000;
    padding: 20px;
}